table {
  border-collapse: collapse;
}


input[type="text"] {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border: 0;
}

.status-Announced {
  background-color: #7fff00;
}

.status-Discontinued {
  background-color: #ffa500;
}

.status-Launched {
  background-color: #00b0f0;
}

.status-LaunchedwithIPU {
  background-color: #82ffac;
}
